@model AulaModel


<h1>Oie Pessoal</h1>

<div>
    <dt>
        @Html.DisplayNameFor(model => model.Nome)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Nome)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Turma)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Turma)
    </dd>
</div>
